<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <style>
      {{{style}}}
    </style>
  </head>
  <body style="text-align: center">
	<section class="header">
      {{{logo}}}
      <p>iUpi</p>
    </section>

    <section class=body>
      <h2>!Has iniciado el proceso de recuperación de contraseña!</h2>
      <p>Encontrarás al final el enlance para reestablecer tu contraseña. Recuerda que tienes menos de 15 minutos para completar el proceso.</p>
      <a href={{ link }}>Reestablecer conytraseña</a>
    </section>
  </body>
</html>